{% include 'core/navbar.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<style>
    .container {
        height: 100%;
        width: 50%;
        margin-top: 4%;
    }
</style>
{% block content %}
    <div class="container">
        <h class="display-6">Add a new movie</h>
        <hr class="my-md1">
        <br>
        <form method="POST" action="">

            {% csrf_token %}
            {{ form|crispy }}
            <br>
            {% buttons %}
                <button type="submit" class="btn btn-primary">Add Movie</button>
            {% endbuttons %}

        </form>

    </div>
{% endblock content %}