{% include 'core/base.html' %}
{% block content %}
<style>
ul{
    display: none;
}
.helptext{
    display: none;
}
html, body{
    height: 100%;
    width: 100%;
}

</style>

<div class="flex-xxl-fill">
<div class="row col-md-2">
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Sign up!">
    </form>

    <p>Already registered??</p>
    <a href="{%  url 'login_page' %}">Sign in now!</a>
    </div>
</div>


{% endblock content %}